.countDownContainer {
  display: flex;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: var(--title);

  div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;

    span {
      flex: 1;
      margin: 0;

      &:first-child {
        border-right: 1px solid #f0f1f3;
      }

      &:last-child {
        border-left: 1px solid #f0f1f3;
      }
    }
  }

  span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
  }
}

.countDownButton {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background-color: var(--blue);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.2s;

  img,
  svg {
    margin-left: 1rem;
  }

  &:not(:disabled):hover {
    background-color: var(--blue-dark);

    svg path {
      fill: var(--white);
    }
  }

  &:disabled {
    background: var(--white);
    color: var(--text);
    cursor: not-allowed;
    border-bottom: 4px solid var(--green);
  }
}

.countDownButtonActive {
  background-color: var(--white);
  color: var(--title);

  &:not(:disabled):hover {
    background-color: var(--red);
    color: var(--white);
  }
}
